body {
  background-color: #e5e5e58a !important;
  margin-top: 6rem !important;
}
.login-section {
  height: 90vh;
}
.signup-section {
  height: 90vh;
}
.margin-top {
  margin-top: 4rem;
}
.pointer {
  cursor: pointer;
}
.quora-span {
  color: #b92b27 !important;
}
