PORT=8000
DB_HOST=localhost
DB_NAME= "final"
DB_PORT=5432
DB_DIALECT=postgres
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=AVQAHE3qQHEHGEQEEQGQEQEQEADNNAELOAD
CLOUD_NAME=dhghdtteg
CLOUDINARY_KEY=523389569168828
CLOUDINARY_SECRET=c_SYdsF1M5IauIZrA3PASXbdVl0