.topic-image {
  height: 360px;
  width: 360px;
  border-radius: 50%;
  border: 1px solid #b92b27;
}

.topic-main {
  display: flex;
}
.topic-content {
  margin-left: 3rem;
  border-radius: 2%;
  width: 100%;
  background-color: white;
  padding: 5px 5%;
}
.topic-title {
  margin-top: 2rem;
  color: #b92b27;
}
.topic-description {
  margin-top: 2rem;
}
.topic-followers {
  margin-top: 2rem;
}
.topic-follow-btn {
  margin-top: 2rem;
  display: flex;
}
.topic-questions {
  margin-top: 4rem;
}
.topic-questions-title {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.topic-span {
  color: #b92b27;
  font-weight: 500;
  font-size: 18px;
  margin-right: 1.5rem;
}
.question-title {
  color: #b92b27;
  font-weight: 600;
  font-size: 24px;
}
.topic-questions-content {
  margin-bottom: 4rem;
}
