.topic-image {
  height: 380px;
  width: 460px;
}

.topic-main {
  display: flex;
}
.topic-content {
  margin-left: 3rem;
}
.topic-title {
  margin-top: 2rem;
  color: #b92b27;
}
.topic-description {
  margin-top: 2rem;
}
.topic-followers {
  margin-top: 2rem;
}
.topic-follow-btn {
  margin-top: 2rem;
}
.topic-questions {
  margin-top: 4rem;
}
.topic-questions-title {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
